# <font color="steelblue">Conceptos básicos de la programación con Python</font>

**Material desarrollado por los [equipos de trabajo de IA4LEGOS](https://ia4legos.umh.es/)**


**Fecha última edición**: 10/05/2025

**Licencia**: <small><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /></small>

No olvides hacer una copia si deseas utilizarlo. Al usar estos contenidos, aceptas nuestros términos de uso y nuestra política de privacidad.

# Comenzamos

Para una revisión de todos los elementos básicos en la programación con Python es muy recomendable el tutorial de [w3schools.com](https://www.w3schools.com/python/default.asp).

Empezamos con la frase habitual en cualquier lenguaje de programación utilizando la función `print` con una cadena de texto identificada por `" "`.

In [ ]:
print("Comenzamos saludando. \n ¡Hola MUNDO!")  # \n es salto de línea

Comenzamos saludando.
 ¡Hola MUNDO!

Una frase más larga

In [ ]:
print(''' y cuando queremos mostrar un texto largo expandido en varias líneas,
lo escribimos de esa forma en el código, y utilizamos
tres comillas para entrecomillarlo''' )

 y cuando queremos mostrar un texto largo expandido en varias líneas,
lo escribimos de esa forma en el código, y utilizamos
tres comillas para entrecomillarlo

## Tipos de datos
Con la función `type()` podemos saber el tipo de cualquier dato en Python. Estas son las categorías básicas de datos:

* Texto:	str
* Numérico:	int, float, complex
* Secuencia:	list, tuple, range
* Mapeo:	dict
* Conjunto:	set, frozenset
* Booleano:	bool
* Binario:	bytes, bytearray, memoryview

In [ ]:
a = "Esto es una cadena de caracteres"
print(a)

Esto es una cadena de caracteres

Definimos varios elementos y vemos su impresión

In [ ]:
# Los tipos numéricos son enteros, reales y complejos
a = 3
b = int(3)
c = float(3)
d = complex(3)
e = 1.-3.j
a, b, c, d, e

(3, 3, 3.0, (3+0j), (1-3j))

In [ ]:
# y descubrimos sus tipos con
type(a),type(e)

(int, complex)

Podemos formatear los textos de salida de acuerdo a los formatos de las variables incluidas en él.

In [ ]:
# formateamos textos con '%()' para incluir el valor que deseamos incluir
# La opción %4.2f indica un float con cuatro dígitos enteros y dos decimales
mensaje = 'El precio de %d computadores %s es de %4.2f euros'%(2, "Apple", 2344.956)
print(mensaje)

El precio de 2 computadores Apple es de 2344.96 euros

In [ ]:
# formateamos textos con 'format()'
mensaje = 'El precio de {1:d} computadores {0:s} es de {2:4.2f} euros'
mensaje.format('Apple', 2, 2344.956)

'El precio de 2 computadores Apple es de 2344.96 euros'

Cuando hemos de definir una secuencia, tenemos que distinguir las funcionalidades que buscamos, para optar por uno u otro tipo de objeto. Tenemos:

* Lista es una colección que está ordenada y se puede cambiar. Permite elementos duplicados.
* Tupla es una colección que no tiene orden y no se puede cambiar. Permite elementos duplicados.
* Set es una colección que no tiene orden y no está indexada. No contiene elementos duplicados.
* Dictionario es una colección que no tiene orden, se puede cambiar e indexar. No tiene elemenos duplicados.

### Listas
Son colecciones de datos relacionados. Los elementos de una lista pueden ser de tipos diferentes. Se pueden modificar, eliminar y añadir. Se definen a través de los corchetes `[]` como una secuencia de valores númericos o texto.

In [ ]:
# Listas
lista1 = ["manzana", "pera", "jamón"]
lista1.append("pan")             # añadir un término
lista2 = [[1, 2, 3], "mensaje"]  # Combinamos elementos de diferentes tipos

print(lista1)                    # imprimimos lista 1
print(lista2)                    # imprimimos lista 2

print(lista1[-1])                # evitar todos los elementos excepto el último
lista2[1] = "son frutas"         # modificar un término
del lista2[0]                    # eliminar un término

print(lista2)
print(lista1[0:2]+lista2)        # listar los elementos 0 y 1 con la secuencia 0:2

['manzana', 'pera', 'jamón', 'pan']
[[1, 2, 3], 'mensaje']
pan
['son frutas']
['manzana', 'pera', 'son frutas']

Podemos crear listas con secuencias de números enteros y la función `range`

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
# e incluso definiendo el salto
list(range(0, 10, 2))

[0, 2, 4, 6, 8]

### Tuplas
Son como las listas, pero sus elementos no se pueden modificar. Se definen a través de los paréntesis `()` como una secuencia de valores númericos o texto.

In [ ]:
# Tuplas
tupla = ("a", 1.5, "hola")
# Unión de dos tuplas
print(tupla+tupla)

('a', 1.5, 'hola', 'a', 1.5, 'hola')

### Sets

Se definen a través de las llaves `{}` como una secuencia de valores númericos o texto. No pueden contener valores repetidos.

In [ ]:
# Sets
conjunto = {"plátano", 5, True}
print(conjunto)

{True, 'plátano', 5}

### Diccionarios
Son una colección de datos pareados relacionados. Se definen con llaves `{}`, sus elementos son pares 'key:item', separados por comas.
Se accede a cada elemento con el identificador 'key'.

In [ ]:
# Diccionarios
diccionario = {1: "patata", 2: "manzana", 3:"chuleta"}

# seleccionamos las keys 2 y 3 e imprimimos sus valores
print("El menú de hoy es {} y {}.".format(diccionario[2], diccionario[3]))

del diccionario[1]   # eliminar elementos
print(diccionario)   # imprimir el nuevo diccionario

El menú de hoy es manzana y chuleta.
{2: 'manzana', 3: 'chuleta'}

## Operaciones básicas
Vamos a definir diferentes objetos y mostrar, con ejemplos, las posibilidades que nos brindan las operaciones básicas con operadores lógicos, booleanos, aritméticos, de asignación, de identidad y de pertenencia

Son operadores lógicos: and, or, not

In [ ]:
x = 7
x > 5 and x < 10

True

Son operadores booleanos  ==, !=, >, <, >=, <=, and, or, not, is, is not, in, not in.

In [ ]:
# Ejemplificamos operadores booleanos
a = 5
b = 4
print(a > b), print(a != b)

True
True

(None, None)

Son operadores numéricos `+`, `-`, `*`, `/`, `%` (módulo), `**` (potencias), `//` (división entera por defecto).

Es importante que para realizar operaciones aritméticas con vectores y matrices necesitaremos la librería Numpy, que veremos más adelante.

In [ ]:
# A partir de unos objetos, operamos
a = 1
b = 2.2222
a+b, a-b, a*b, a/b

(3.2222, -1.2222, 2.2222, 0.4500045000450005)

In [ ]:
# Módulo, cociente, potencia, valor absoluto
a%b, b//a, round(b,5), b**2, abs(a-b)

(1.0, 2.0, 2.2222, 4.93817284, 1.2222)

Los operadores de asignación más comunes son: =, +=, -=, *=, /=, %=, //=, **=

In [ ]:
a = 8
b = 3
a += b   # equivalente a a=a+b
print(a)

11

Son operadores de identidad: is, is not. Son operadores de pertencia: in, not in.

In [ ]:
# Operador de identidad
x = 2; y = 3
x is y

False

In [ ]:
# Operador de pertenencia
x = 2
xt = {1,2,3,4,5}
x in xt

True

Disponemos de algunas funciones específicas para realizar operaciones algo menos básicas,  como:
index, find, upper, lower, capitalize, startswith, endswith, count, replace, join, split, append, pop. Algunas sólo se aplican en objetos de tipo string.

Para aplicar estas funciones, aludimos primero al objeto, añadimos un punto, y aludimos a la función o método. Ej: objeto.append()

In [ ]:
# Añadimos elementos a listas
lista1 = ["manzana","pera","jamón"]
lista1.append("chorizo")
print(lista1)

['manzana', 'pera', 'jamón', 'chorizo']

In [ ]:
# o los extraemos
lista1.pop(2)

'jamón'

In [ ]:
# localizar el índice en el que está un elemento/carácter
frase = "letras del ALFABETO"
y = [1, 2, 3, 4, 5]
print("Encontramos el 5 en la posición ", y.index(5), "de y, con index()"," \nEncontramos la a en la posición ", frase.find("a")," de frase, con find()" )

Encontramos el 5 en la posición  4 de y, con index()
Encontramos la a en la posición  4  de frase, con find()

In [ ]:
# Capitalizar textos con capitalize, upper y lower
print(frase.lower(), frase.upper(), frase.capitalize())

letras del alfabeto LETRAS DEL ALFABETO Letras del alfabeto

In [ ]:
# separar e intercalar cadenas string
dospun = ":"
print(dospun.join(frase),"\n",frase.split(" "))

l:e:t:r:a:s: :d:e:l: :A:L:F:A:B:E:T:O
 ['letras', 'del', 'ALFABETO']

In [ ]:
# contar cuántas veces tenemos un elemento
y = [1,2,3,3]; palabra = "palabra"
print("Hay ", y.count(3), "treses en ", y, "\n La letra a se repite ", palabra.count("a"), "veces en ", palabra)

Hay  2 treses en  [1, 2, 3, 3]
 La letra a se repite  3 veces en  palabra

La **selección** en Python se hace teniendo en cuenta que la indexación de los elementos de un objeto indexable siempre empieza en cero. Seleccionamos elementos individuales con el corchete `[]`, y varios elementos con lo que en python se llama "slicing".

In [ ]:
x = list(range(10,20,2))
print(x, "---->", x[2], "---->", x[2:], "---->", x[-2:])

[10, 12, 14, 16, 18] ----> 14 ----> [14, 16, 18] ----> [16, 18]

## Bucles y condiciones

Los comandos habituales para proponer condiciones de ejecución y desarrollar bucles son:

* if, if else, elif (para especificar condiciones de ejecución)
* for, while (para lanzar bucles)
* break, continue (controlan cortes o seguimientos de bucles)

Veamos con ejemplos cómo funcionan. Es muy importante al generar bucles, respetar la indentación de los comandos que van anidados dentro de una condición o de un bucle. Si no los respetamos, no funcionarán.

### if, elif, else

In [ ]:
# bucle if
a = 33
b = 200
if b > a:
  print("b es mayor que a")

b es mayor que a

In [ ]:
# bucle if-else
a = 33
b = 200
if b > a:
  print("b es mayor que a")
else:
  print("a es mayor que b")

b es mayor que a

In [ ]:
# Cuando ofrecemos varias alternativas, usamos elif
a = 33
b = 200
if b > a:
  print("b es mayor que a")
elif a == b:
  print("a y b son iguales")
else:
  print("a es mayor que b")

b es mayor que a

En ocasiones tenemos que hacer pocos cálculos dentro de un bucle, y entonces nos interesa utilizar un código más breve, que es el que nos da la construcción de objetos por comprensión. Para la creación de listas de comprensión generamos una lista utilizando los corchetes e indicamos los valores que debemos incluir dentro.

In [ ]:
# Lista con los 10 primeros números naturales
numeros = range(1,11)
# Cuadrado de los 10 primeros números naturales mediante lista por comprensión
# [objeto creado for secuencia]
[x**2 for x in numeros]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# Lista por comeprensión con bucle if interno
# obtener una lista con el cuadrado de los 10 primeros número naturales pares
[x**2 for x in numeros if x%2==0]

[4, 16, 36, 64, 100]

In [ ]:
# Lista por comeprensión con bucle if-else interno
# lista con el cuadrado de los pares y el doble de los impares
[x**2 if x%2==0 else x*2 for x in numeros]

[2, 4, 6, 16, 10, 36, 14, 64, 18, 100]

### while, for

for es útil para recorrer elementos de listas

In [ ]:
# lista
frutas = ["manzana", "banana", "fresa"]
# bucle de ejecución
for x in frutas:
  print(x)

manzana
banana
fresa

while es útil para ejecutar repetidamente una instrucción mientras se satisface una condición. En este caso simpre debemos definir un contador de inicio para verificar que se cumple la condición

In [ ]:
# Iniciamos el contador
i = 1
# Bucle de ejecución
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

### break y continue

Podríamos interrumpir una ejecución en bucle con "break", si se da alguna otra condición

In [ ]:
# inicializamos índice del bucle
i = 1
# bucle while hasta que se cumple la condición if
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

o continuarla. Por ejemplo, el bucle corre sin ejecutar nada salvo que se dé cierta condición

In [ ]:
# lista
frutas = ["manzana", "banana", "fresa","sandía"]
# índice apra rcorrer la lista
indices = [0,1,2,3]
# Bucle de ejecución sin interrupción
for i in indices:
  if i == 2:
    print("No me gusta la", frutas[i])
  else:
    print("Me gusta la", frutas[i])
    continue

Me gusta la manzana
Me gusta la banana
No me gusta la fresa
Me gusta la sandía

### try y except
Se utilizan para controlar los errores y dar indicaciones de qué hacer cuando se produce un error.

In [ ]:
divisor = [1,2,0]
for i in divisor:
  try:
    division = 5/i
    print("5 entre", i, "=", division)
  except ZeroDivisionError:
    print("El divisor es", i, ": no se puede dividir.")

5 entre 1 = 5.0
5 entre 2 = 2.5
El divisor es 0 : no se puede dividir.

## Funciones

Crear funciones en Python es muy sencillo y se realiza con el comando `def`.

In [ ]:
# Se pueden definir funciones sin parámetros o argumentos
def mi_funcion():
  print("Hola, soy una función")

# Ejecución d ela función
mi_funcion()

Hola, soy una función

In [ ]:
# función para solicitar valores input
def mi_funcion():
  print("Dame un nombre, por favor")
  nombre=input()
  print("Hola, soy la función ", nombre)

# Ejecución d ela función
mi_funcion()

Dame un nombre, por favor
Javier
Hola, soy la función  Javier

Ahora definimos una función con argumentos que debemos introducir. En este caso devolvemos el resultado de la función con `return()`

In [ ]:
# definición de la función
def fun_suma(x):
  y = 0
  indices = range(0, len(x))
  for i in indices:
    y += x[i]
  print("La suma de los elementos es", y)
  # resultado de la función
  return(y)

# argumentos para la función
x = [1, 2, 3, 4, 5]
# resultado de la función aplicada a la lista y
y = fun_suma(x);
# Combinamos el resultado de la función con otra operación
print("Y si le sumamos 1, tenemos", y+1)

La suma de los elementos es 15
Y si le sumamos 1, tenemos 16